.tabs .tabs-list {
  display: flex;
  overflow-x: hidden;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 0;
}

.tabs-wrapper {
  padding: 0;
}

.tabs {
  padding: 0 24px 24px;
  min-height: 400px;
}

.tabs-panel .embed {
  margin: 0;
}

.imovel-default .section:has(.tabs) {
padding-bottom: 0;
}

.imovel-default .tabs-panel {
  margin-bottom: -8px;
}

.imovel-default .tabs-panel picture {
  object-fit: cover;
  aspect-ratio: 16/9;
}

.imovel-default .tabs-panel img {
  object-fit: cover;
  object-position: center;
  width: 100vw;
}

.tabs-panel p.embed-wrapper {
  padding: 0;
}

.tabs-panel p.mobile,
.tabs-panel p.tablet,
.tabs-panel p.desktop {
  padding: 0;
}

.tabs .tabs-list button {
  margin: 0;
  flex: 1 1 0;    
  min-width: 0;
  border: 2px solid black;
  color: initial;
  text-overflow: unset;
  overflow: unset;
  white-space: unset;
  transition: background-color 0.2s;
  border-radius: 15px 15px 0 0;
  max-width: 300px;
  height: 40px;
  font-size: unset;
}

.tabs .tabs-list button p {
  padding: 0;
  text-align: center;
  margin: 0;
  color: var(--light-color);
}

.tabs .tabs-list button[aria-selected='true'] {
  background-color: var(--cor-global-primaria);
  cursor: initial;
}

.tabs .tabs-list button[aria-selected='false'] {
  background-color: inherit;
  cursor: pointer;

  &:hover {
    background-color: var(--cor-global-primaria);
  }
}

.tabs .tabs-list button[aria-selected='false'] p { 
  color:black;

  &:hover {
    color: white
  }
}

.tabs .tabs-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;  
  overflow: hidden;
  padding: 0;
  margin-top: 0;
}

.tabs .tabs-panel[aria-hidden='true'] {
  display: none;
}

@media (width >= 600px) {
  .tabs .tabs-list button {
    max-width: 350px;
    height: 60px;
  }

  .imovel-default .tabs-panel img {
    height: 800px;
  }
}

@media (width >= 900px) {
  .tabs {
    padding: 0;
    min-height: unset;
  }
}
